<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="jumbotron">
            <h1>Welcome {{ data.User.FullName }}</h1>
            <p>
            Hot baby yes!
            </p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <button type="button" class="btn btn-block btn-lg btn-success" ng-click="newEvaluationTemplate()">
            Click here to create a new evaluation template!
        </button>
        <br>
    </div>
</div>

<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="row">

            <div class="col-md-3 md-offset-1 pull-left">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        New evaluations:
                    </div>
                    <div class="panel-body">
                        <ul class="list-group">
                            <li class="list-group-item" ng-repeat="evaluation in evaluations | isStatus: 'new'">
                                {{ evaluation.TemplateTitle }} - {{ evaluation.Status }}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-3 md-offset-1 pull-left">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Open evaluations:
                    </div>
                    <div class="panel-body">
                        <ul class="list-group">
                            <li class="list-group-item" ng-repeat="evaluation in evaluations | isStatus: 'open'">
                                {{ evaluation.TemplateTitle }} - {{ evaluation.Status }}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-3 md-offset-1 pull-rigth">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Closed evaluations:
                    </div>
                    <div class="panel-body">
                        <ul class="list-group">
                            <li class="list-group-item" ng-repeat="evaluation in evaluations | isStatus: 'closed'">
                                {{ evaluation.TemplateTitle }} - {{ evaluation.Status }}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-3 md-offset-1 pull-rigth">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Evaluation templates:
                    </div>
                    <div class="panel-body">
                        <ul class="list-group" ng-show="evaluationTemplates.length !== 0">
                            <li class="list-group-item" ng-repeat="evaluationTemplate in evaluationTemplates">
                                <div class="pull-right">
                                    <button type="button" class="btn btn-xs btn-primary" ng-click="newEvaluation(evaluationTemplate.ID)">
                                        Add a new evaluation
                                    </button>
                                </div>
                                <div>
                                    {{ evaluationTemplate.Title }}
                                </div>
                            </li>
                        </ul>
                        <p ng-show="evaluationTemplates.length === 0">
                            There are no evaluation templates available! Click on the button above to create a new one!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
