<div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">
        <div class="panel-heading">
            Username
        </div>
        <div class="panel-body">
            <div class="form-group">
                <label for="username" class="control-label">
                    Username:
                </label>
                <input type="text" class="form-control" id="username" name="username" ng-keyup="$event.keyCode == 13 && login()" ng-model="username" />
                <label for="password" class="control-label">
                    Password:
                </label>
                <input type="text" class="form-control" id="password" name="password" ng-keyup="$even.keyCode == 13 && login()" ng-model="password" />
            </div>
            <button type="button" class="btn btn-primary" ng-click="login()">
                Login
            </button>
        </div>
    </div>
</div>
