<div>
    <div class="modal-header">
        <h2>
            Evaluation questions for {{ courseID }} - {{ courseName }}:
        </h2>
    </div>

    <div class="modal-body">
        <form name="answerEvaluationForm" novalidate ng-submit="finishEvaluation()">

            <div class="panel panel-default">
                <div class="panel-heading">
                    Course questions:
                </div>
                <div class="panel-body">
                    <div class="form-group"
                        ng-repeat="courseQuestion in evaluation.CourseQuestions">

                        <evaluation-question ng-model="courseQuestion" isrequired="true" typeofquestion="courseQuestion">
                        </evaluation-question>

                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    Teacher questions:
                </div>
                <div class="panel-body">
                    <div ng-repeat="teacher in teachers">

                        <legend>{{ teacher.FullName }}</legend>

                        <div class="form-group"
                            ng-repeat="teacherQuestion in evaluation.TeacherQuestions">

                            <evaluation-question ng-model="teacherQuestion" isrequired="false" typeofquestion="teacherQuestion" teacher="{{ teacher.FullName }}">
                            </evaluation-question>

                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">

                <div class="form-group">
                    <input type="submit" class="btn btn-success btn-lg" value="Finish">
                    <button class="btn btn-danger btn-lg" ng-click="cancel()">Cancel</button>
                </div>
            </div>
        </form>
    </div>

</div>
