<div>
    <div class="modal-header">
        <h2>
            Creating a new course question:
        </h2>
    </div>
    <div class="modal-body">
        <form name="newCourseQuestion" novalidate ng-submit="finish()">
            <div class="form-group">
                <label for="questionText" class="control-label">
                    Question text:
                </label>
                <input type="text"
                    name="questionText"
                    ng-model="question.Text"
                    required
                    ng-maxlength="50"
                    class="form-control" />
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success" ng-click="finish()">Finish</button>
        <button class="btn btn-danger" ng-click="cancel()">Cancel</button>
    </div>
</div>
